*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
background-color:rgb(174, 195, 212);
width: 50vw;
height: 30vw;
border-radius: 1vw;
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h1{
    margin-top:5vw ;
}
#userid{
    margin-bottom: ;
    padding: 0.8vw 2vw;
    width: 15vw;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-weight: 600;
    font-size: 1.2vw;

}
#pass{
    margin-bottom: 1vw;
    padding: 0.8vw 2vw;
    width: 15vw;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-weight: 600;
    font-size: 1.2vw;
}
#valid{
margin-bottom: 1vw;
padding: 0.8vw 2vw;
width: 15vw;
border: none;
border-radius: 10px;
background: rgba(255,255,255,0.6);
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
font-weight: 600;
font-size: 1.2vw;
color: grey;
}
button{
    padding: 0.8vw 1vw; 
    margin-bottom: 4vw;
    background-color: rgb(5, 70, 5);
    color: white;
    font-weight: 700;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}